.prod{
    height: 15rem;
}
.card:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Shadow on hover */
}
.cartEmpty{
    height: 20rem;
}
.quote{
    font-family: "Dancing Script", cursive;
    
}
.cart-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
  }
  @media screen and (max-width:556px) {
    .cartImage{
        position:1;
    }
  }